<% title "Вход в систему", :login %>

<% content_for :hint do %>
  <h3>Вход в систему</h3>
  <p>Введите свой логин и пароль, чтобы войти в систему</p>
  <p>Если вы забыли пароль, то мы можем вам его <%= link_to "напомнить", forgot_password_path %></p>
<% end %>

<%= simple_form_for session_path do | form | %>
  <fieldset>
    <%= form.input :login %>
    <%= form.input :password %>
    <%= form.input :remember_mee %>
    <%= form.button :submit, "Войти" %>
    <%= link_to "Вы забыли пароль?", forgot_password_path %></p>
  </fieldset>
<% end %>
