<div class="stage object">
  <%= icon(:stage) %>
  <h3><%= link_to stage.title, manage_chair_project_stage_path(stage.project.chair, stage.project, stage) %></h3>
  <div class='status'>
    <span class="date">с <%= date(stage.start) %></span>
    <span class="date">по <%= date(stage.finish) %></span>
  </div>
  <div class="details"><%= stage.activity %></div>
</div>
