<ul class="listing participants">
  <% project.participants.active.each_with_index do |participant, index| %>
    <li class="participant_<%= index+1 %>">
      <div class="participant object">
        <h3><%= h(participant.name) %></h3>
      </div>
    </li>
  <% end %>
</ul>

<div class="rating">
  <div class="wrapper">
    <% Gpoday.find(:all, :order => :date).each do | gpoday | %>
      <div class="gpoday<%= gpoday.kt? ? ' kt' : nil %>">
        <span class="date"><%= I18n.localize(gpoday.date) + "#{gpoday.kt? ? ' (КТ)' : nil}" %></span>
        <ul>
          <% project.participants.active.each_with_index do |participant, index| %>
            <% visitation = participant.visitation_for_gpoday(gpoday) %>
            <li id="<%= project.chair.id %>_<%= project.id %>_<%= visitation.id %>">
              <% if visitation.rate? %>
                <%= content_tag(:span, visitation.rate, :class => "ratio") %>
              <% else %>
                <%= content_tag(:span, "&mdash;".html_safe, :class => "empty ratio") %>
              <% end %>
              <% if visitation.kt? %>
                <%= content_tag :span, visitation.kt_issues_sum, :class=>"kt_issues_sum", :title => "за индивидульные задачи текущего периода" %> /
                <%= content_tag :span, visitation.kt_sum, :class=>"kt_sum", :title => "за текущий период с учетом индивидульных задач" %> /
                <%= content_tag :span, visitation.total_sum, :class=>"total_sum", :title => "суммарно" %>
              <% end %>
            </li>
          <% end %>
        </ul>
        <%= link_to t('edit'), edit_chair_project_visitation_path(project.chair, project, gpoday), :class => "edit" if show_edit_link && permitted_to?(:update, project) && !project.participants.empty? %>
      </div>
    <% end %>
  </div>
</div>

