<% content_for :title, "Студенты" %>

<%= simple_form_for students_path, :method => "get" do | form | %>
  <%= form.input :last_name %>
  <%= form.input :edu_group %>
  <%= form.button :submit, I18n.t("find") %>
<% end %>

<ul>
  <% @students.each do |student| %>
    <li>
      <%= student.name %>
      <%= "гр. #{student.edu_group}" %>
      <%= "#{student.course} курс" %>
    </li>
  <% end %>
</ul>
