<% content_for :title, "Студенты" %>

<%  form_tag(students_url, :method => 'get') do %>
  <%= label_tag(:last_name, "Фамилия") %>
  <%= text_field_tag :last_name %>
  <%= label_tag(:edu_group, "Группа") %>
  <%= text_field_tag :edu_group %>
  <%= submit_tag 'Искать' %>
<% end %>

<ul>
  <% @students.each do |student| %>
    <li>
      <%= h(student.name) %>
      <%= "гр. #{h(student.edu_group)}" %>
      <%= "#{student.course} курс" %>
    </li>
  <% end %>
</ul>
