<dl>
  <dt>Name</dt>
  <dd><%= @student.name %></dd>
  <dt>Edu group</dt>
  <dd><%= @student.edu_group %></dd>
  <dt>Course</dt>
  <dd><%= @student.course %></dd>
</dl>

<p>
  <%= link_to 'Edit', edit_student_path(@student)%>
  |
  <%= link_to 'Back', students_path %>
</p>
