<% title "Проекты ГПО", :chair %>

<%= render :partial => 'shared/application_link' %>
<%= render :partial => 'shared/advertisement' %>
<div class="faculties_list">
  <% @chairs.each do |faculty, chairs| %>
    <%= image_tag "faculties/#{chairs.first.transliterated_faculty_abbr}.svg", class:'faculty-image' %>
    <div class="faculty-item <%= chairs.first.transliterated_faculty_abbr%>">
      <h2><%= faculty %></h2>
      <div class="chair_list">
        <% chairs.each do |chair| %>
          <div class="row">
            <div class="col-xs-10">
              <div class="title">
                <h3><%= link_to "Кафедра #{content_tag(:abbr, chair.abbr, :title => chair.title)}".html_safe, chair_projects_path(chair) %></h3>
                <div class="mentors">Ответственный за ГПО на кафедре: <%= chair_mentors(chair) %></div>
              </div>
            </div>
            <div class="col-xs-2">
              <div class="stats">
                <div class="pull-right">
                  <span class="active_projects" title="Активных проектов"><%= chair.projects.current_active.with_participants.count %></span>
                  <span><%= link_to icon(:project), chair_projects_path(chair) %></span>
                </div>
                <br>
                <div class="pull-right">
                  <span class="participant_total" title="Всего студентов"><%= chair.participants.active.count %></span>
                  <span><%= icon(:participant) %></span>
                </div>
              </div>
            </div>
          </div>
          <div class="chair-project-list">
            <ul class="ul-rhombus">
              <% chair.projects.active.each do |project| %>
                <li class="chair-project-item">
                  <%= link_to chair_project_path(chair_id: chair.id, id: project.id) do %>
                    <%= project.title %> (<%= project.cipher %>)
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
          <hr>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<% content_for :right do %>
  <div id="stats">
    <h3>Статистика</h3>
    <%= render_table_stats Stat.global %>
  </div>
<% end %>
