<div class="theme object">
  <div class="name">
    <div class="checkbox">
      <%= check_box_tag "themes[]", theme.id, false, {:class => 'theme_check', :id => "theme_#{theme.id}"} %>
    </div>
    <div class="label">
      <%= label "theme", "#{theme.id}", theme.name %>
    </div>
  </div>
  <div class="inline-stats">
    <dl>
      <dt>
        <%= image_tag "icon_project.png", :class => "icon" %>
      </dt>
      <dd class="active_projects" title="Активных проектов"><%= theme.projects.active.count %></dd>
      <dd class="draft_projects" title="Черновиков проектов"><%= theme.projects.closed.count %></dd>
      <dd class="closed_projects" title="Закрытых проектов"><%= theme.projects.draft.count %></dd>
    </dl>
  </div>
  <div class="inline-stats">
    <dl>
      <dt>
        <%= image_tag "icon_participant.png", :class => "icon" %>
      </dt>
      <dd class="participant_total" title="Всего студентов">
        <%= theme.participants.active.count %>
      </dd>
      <dd class="participant_course_3" title="Студентов 3 курса">
        <%= theme.participants.active.at_course(3).count %>
      </dd>
      <dd class="participant_course_4" title="Студентов 4 курса">
        <%= theme.participants.active.at_course(4).count %>
      </dd>
      <dd class="participant_course_5" title="Студентов 5 курса">
        <%= theme.participants.active.at_course(5).count %>
      </dd>
    </dl>
  </div>
</div>
<div class="actions">
  <%= link_to(l(:edit), edit_theme_url(theme))  if permitted_to?(:update, theme) %>
  <%= link_to(l(:delete), theme_url(theme), :method=> :delete, :confirm => l(:are_you_sure)) if permitted_to?(:delete, theme) %>
</div>


