<li>
  <div class="participant <%= new_participant.new_record? ? 'object' : ''  %>">
    <%= icon(:participant) %>
    <h3><%= new_participant.name %></h3>
    <div class="status">
      <span>гр. <%= new_participant.edu_group %>, <%= new_participant.course %> курс</span>
    </div>

    <% unless new_participant.new_record? && new_participant.awaiting_approval? %>
      <span class="details"><%= icon(:warning) %> Данный студент числится в проекте <%= link_to(new_participant.project.cipher, manage_chair_project_path(new_participant.project.chair, new_participant.project)) %> со статусом &#x00ab;<%= new_participant.human_state_name %>&#x00bb;</span>
    <% end %>
  </div>
  <%= content_tag :div, :class => :actions do %>
    <%= simple_form_for [:manage, @project.chair, @project, new_participant] do |form| %>
      <%= form.input :first_name, :as => :hidden %>
      <%= form.input :middle_name, :as => :hidden %>
      <%= form.input :last_name, :as => :hidden %>
      <%= form.input :edu_group, :as => :hidden %>
      <%= form.input :course, :as => :hidden %>
      <%= form.input :contingent_active, :as => :hidden %>
      <%= form.input :contingent_gpo, :as => :hidden %>
      <%= form.input :student_id, :as => :hidden %>
      <%= form.input :subfaculty, :as => :hidden %>
      <%= form.input :faculty, :as => :hidden %>
      <%= form.button :submit, I18n.t("add") %>
    <% end %>
  <% end if new_participant.createable?(@project) %>
</li>
