<div class="participant <%= new_participant.new_record? ? 'object' : ''  %>" >
  <%= icon(:participant) %>
  <h3><%= h(new_participant.name) %></h3>
  <div class="status">
    <span>гр. <%= new_participant.edu_group %>, <%= new_participant.course %> курс</span>
  </div>
  
  <% unless new_participant.new_record? %>
  <span class="details"><%= icon(:warning) %> Данный студент числится в проекте <%= link_to(new_participant.project.cipher, chair_project_path(new_participant.project.chair, new_participant.project)) %> со статусом &#x00ab;<%= new_participant.state_description %>&#x00bb;</span>
  <% end %>
</div>

<% if permitted_to?(:create, @project.participants.build(:student_id => new_participant.student_id)) %>
  <div class="actions">
    <% form_for([@project.chair, @project, @participant]) do |form| %>
      <%= form.hidden_field 'student_id', :value => new_participant.student_id %>
      <%= hidden_field_tag "edu_group", @query[:edu_group] %>
      <%= hidden_field_tag "last_name", @query[:last_name] %>
      <%= form.submit "Добавить" %>
    <% end %>
  </div>
<% end %>
