<% title "Добавление участника проекта", :participant %>

<% content_for :hint do %>
  <h3>Добавление участника проекта</h3>
  <p>Для добавления участника заполните любое поле формы
  поиска и нажмите кнопку "Искать".</p>
  <p><em>Внимание! Поиск осуществляется в АИС "Контингент",
  поэтому обязательно указывать точные знаечния.</em></p>
  <p>В случае успешного выполнения поиска будет отображен список студентов.
    Студенту, которого можно добавить в проект, соответствует кнопка "Добавить".
  При нажатии на эту кнопку участник будет добавлен в проект с состоянием "Ожидает влючения".</p>
  <p>У студентов, которых нельзя добавить отображается проект, участником которого он является.</p>
<% end %>

<% form_tag(new_chair_project_participant_path(@project.chair, @project), :method => 'get') do %>
  <fieldset>
    <h1 class="section">Поиск студентов</h1>
    <%= label_tag(:last_name, "Фамилия") %>
    <%= text_field_tag :last_name, h(params[:last_name]) %>

    <%= label_tag(:edu_group, "Группа") %>
    <%= text_field_tag :edu_group, h(params[:edu_group]) %>
    <%= submit_tag 'Искать' %>
  </fieldset>
<% end %>

<% if @students.empty? && !@query.empty? %>
  <p class="hint">Не найдено студентов, удовлетворяющих критериям</p>
<% end %>

<%= render_list 'new_participant', @participants, :id => 'participants' %>
