<div class="user object">
  <%= icon(:user) %>
  <h3><%= user.name %></h3>
  <div class="status">
    <span><%= user.login? ? user.login : "нет логина" %>,</span>
    <span><%= user.email? ? user.email : "нет email" %></span>
  </div>
  <div class="details"><%= user_post(user) %></div>
</div>
