<div class="activity">
    <%= activity_icon(activity) %>
    <span class="action"><%= activity_order_action(activity) %></span>
    <span class="object"><%= link_to "приказ #{order_title_with_projects(activity.context)}", chair_order_path(activity.context.chair, activity.context) %></span>
    <div class="details">
      <% unless activity.comment.blank? %>
        <span class="comment">&#x2014; <%= activity.comment %></span>
      <%# FIXME run $ "find app/ -type f | xargs sed -i 's|-\%\>|\%\>|g' %>
      <% end -%>
      <span class="actor"><%= activity.actor %></span>,
      <span class="date"><%= date(activity.created_at) %></span>
    </div>
</div>
