<div class="row" >
  <div class="col-xs-12 col-md-8 col-lg-9">
    <h1><%= yield :page_title %></h1>
    <%= yield %>
  </div>

  <div class="col-xs-12 col-md-4 col-lg-3">
    <div class="right-part">
      <div class="right-part-with-bg">

        <%= render partial: 'shared/right_part_links' %>

        <% if content_for?(:action_nav) %>
          <div id="actions">
            <div class="right-part-title">Документы для скачивания</div>
            <ul>
              <%= yield(:action_nav) %>
            </ul>
          </div>
        <% end %>

        <%= render partial: 'shared/right_part_contacts' %>
      </div>

      <% if flash['notice'] %>
        <div id="notice">
          <%= flash['notice'] %>
        </div>
      <% end %>
      <% if flash['error'] %>
        <div id="error">
          <%= flash['error'] %>
        </div>
      <% end %>

      <%= yield :right %>
    </div>
  </div>
  <% if content_for? :additional_info %>
    <%= yield(:additional_info) %>
  <% end %>
</div>
