<div id="container-two-collumn" >
  <div id="left">
    <h1><%= yield :page_title %></h1>
    <%= yield %>
  </div>

  <div id="right">
    <% if content_for?(:action_nav) %>
      <div id="actions">
        <ul>
          <%= yield(:action_nav) %>
        </ul>
      </div>
    <% end %>

    <%= render partial: 'application/notifications' %>

    <%= yield :right %>
  </div>
  <% if content_for? :additional_info %>
    <%= yield(:additional_info) %>
  <% end %>
</div>
