<div class="row" id="container-two-collumn" >
  <div class="col-xs-12 col-md-8 col-lg-9" id="left">
    <h1><%= yield :page_title %></h1>
    <%= yield %>
  </div>

  <div class="col-xs-12 col-md-4 col-lg-3" id="right">
    <div class="right-part">
      <div class="right-part-with-bg">
        <% if current_page?(root_path) %>
          <%= render partial: 'shared/right_part_links' %>
        <% end %>

        <% if content_for?(:action_nav) %>
          <div id="actions">
            <div class="right-part-title">Документы для скачивания</div>
            <ul>
              <%= yield(:action_nav) %>
            </ul>
          </div>
        <% end %>

        <% if current_page?(root_path) %>
          <%= render partial: 'shared/right_part_contacts' %>
        <% end %>
      </div>

      <%= render partial: 'application/notifications' %>

      <%= yield :right %>

      <% if  current_namespace == :projects %>
        <div class="right-part-with-bg">
          <%= render partial: 'shared/right_part_links' %>
        </div>
      <% end %>

    </div>
  </div>
  <% if content_for? :additional_info %>
    <%= yield(:additional_info) %>
  <% end %>
</div>
