<div class="manager object">
  <%= icon(:user) %>
  <h3><%= manager.user.name %></h3>
  <div class="status">
    <span class="state_<%= manager.state %>"><%= manager.human_state_name %></span>
    <span class="date"><%= time_ago(manager, :updated_at) %></span>
  </div>
</div>
