  <div id='stage_<%= stage.id %>' class='stage object'>
  <h2>
    <%= stage.project.cipher%>
    <%= '(проект закрыт)' unless stage.project.active? %>
  </h2>
  <h3>
    <%= stage.project.title %>
  </h3>

  <% if stage.project.active? %>
    <div class='details'>
      Руководители: <%= project_project_managers(stage.project) %>
    </div>
    <%= render :partial => 'manage/stage_achievements/table', locals: {stage: stage} %>
    <%= render :partial => 'manage/student_achievements/table', locals: {stage: stage, participants: stage.project.participants.with_deleted} %>
    <%= render :partial => 'manage/attestation_marks/table', locals: {stage: stage, participants: stage.project.participants.with_deleted} %>
  <% else %>
    <div class='details'>
      Руководители: <%= closed_project_project_managers(stage.project) %>
    </div>
    <%= render :partial => 'manage/stage_achievements/closed_table', locals: {stage: stage} %>
    <%= render :partial => 'manage/student_achievements/closed_table', locals: {stage: stage, participants: stage.project.participants.with_deleted} %>
    <%= render :partial => 'manage/attestation_marks/closed_table', locals: {stage: stage, participants: stage.project.participants.with_deleted} %>
  <% end %>

</div>
