<div id="stage_<%= stage.id %>" class="project object">
  <%= icon(:project) %>
  <h3><%= stage.project.cipher%></h3>
  <div class="theme">
  <%= project_theme(stage.project) %>
  </div>

  <div class="details"><%= project_project_managers(stage.project) %></div>
  <div class="stage-achievements">
    Достижения:
    <%if stage.stage_achievement.present?%>
      <%=link_to 'Редактировать', edit_manage_stage_achievement_path(stage.stage_achievement)%>
    <%else%>
      <%=link_to 'Добавить', new_manage_stage_achievement_path(stage: stage)%>
    <%end%>
  </div>

  <div class="international-reports">
    Доклады на международных конференциях:
    <%stage.project.participants.active.each do |p|%>
      <%= p.name %>
      <%if stage.international_reports.where(participant_id: p).present?%>
        <%=link_to 'Редактировать', edit_manage_international_report_path(stage.international_reports.where(participant_id: p).first)%>
      <%else%>
        <%=link_to 'Добавить', new_manage_international_report_path(stage: stage, participant: p)%>
      <%end%>
    <%end%>

  </div>



</div>
