<h3><%= @stage_title  %> </h3>
<%= form_tag manage_report_update_chair_attestation_path(chair: @chair), method: :put do %>

<div class='chair_attestation'>
    <table>
      <thead>
        <tr>
          <th>№ группы ГПО</th>
          <th>ФИО руководителя</th>
          <th>Дипломы и призовые места во всероссийских конференциях и конкурсах по тематике ГПО</th>
          <th>Гранты Попечительского совета, УМНИК и др.</th>
          <th>Публикации в периодической печати</th>
          <th>Участие в выставках</th>
          <th>№</th>
          <th>ФИО студентов</th>
          <th>Курс</th>
          <th>№ уч. группы</th>
          <th>Аудитория</th>
          <th>Время занятий</th>
        </tr>
      </thead>
      <tbody>
        <% @stage_achievements.each do |sa| %>

            <tr>
              <td>
                <%= sa.stage.project.cipher %>
              </td>
              <td>
                <%= sa.stage.project.people.collect {|person| person}.join(", ") %>
              </td>
              <%= fields_for "stage_achievements[]", sa do |f| %>
              <%= f.hidden_field :stage_id%>
              <td>
                <%= f.text_field :diploma%>
              </td>
              <td>
                <%= f.text_field :grant%>
              </td>
              <td>
                <%= f.text_field :publication%>
              </td>
              <td>
                <%= f.text_field :exhibition%>
              </td>
              <% end %>
            </tr>

        <% end %>
      </tbody>
    </table>
</div>
<% if current_user.mentor_of?(@chair) || current_user.manager? %>
  <div class="actions">
  <%= submit_tag "Сохранить" %>
  </div>
<% end %>
<% end %>
