<div id="project_<%= project.id %>" class="project object">
  <%= icon(:project) %>
  <h3><%= link_to "#{project.cipher} #{project.title}", chair_project_path(project.chair, project) %></h3>
  <div class="theme">
  <%= project_theme(project) %>
  </div>
  <%= content_tag :div, project.sbi_placing_text, class: :sbi_placing if project.sbi_placing_resident? %>
  <div class="details"><%= project_project_managers(project) %></div>
</div>

