<div id="project_<%= project.id %>" class="project object <%= permitted_to?(:read, project) ? '': 'disabled' %>">
  <%= icon(:project) %>
  <h3><%= link_to h("#{project.cipher} #{project.title}"), chair_project_url(project.chair, project) %></h3>
  <div class="theme">
  <%= project_theme(project) %>
  </div>
  <div class="status">
    <span class="state_<%= project.state %>"><%= project.state_description %></span>
    <span class="editable_state_<%= project.editable_state %>"><%= project.editable_state_description %></span>
    <span class="date"><%= project_updated(project) %></span>
    <%= "#{l(:project, :close_reason)}: #{project.close_reason}" if project.closed? %>
  </div>
  <div class="details"><%= project_managers(project) %></div>
</div>

