<div id="project_<%= project.id %>" class="project object">
  <%= icon(:project) %>
  <h3><%= link_to "#{project.cipher} #{project.title}", chair_project_path(@chair, project) %></h3>
  <div class="theme">
  <%= project_theme(project) %>
  </div>
  <div class="details"><%= project_project_managers(project) %></div>
</div>

