<% title "Проект #{@project.cipher}", :project %>

<%= render :partial => 'shared/application_link' %>

<% content_for :right do %>
  <h3>Руководители проекта</h3>
  <ul id="project_project_managers">
    <% @project.people.each do |person| %>
      <li><span class="name"><%= person %></span><span class="post"><%= person.post %></span></li>
    <% end %>
  </ul>

  <h3>Участники проекта</h3>
  <ul id="project_project_managers">
    <% @project.participants.active.each do |participant| %>
      <li><span class="name"><%= participant.name %></span><span class="post"><%= "гр. #{participant.edu_group}, каф. #{participant.subfaculty}" %></span></li>
    <% end %>
  </ul>
<% end %>

<h2><%= @project.title %></h2>
<%= content_tag :span, @project.interdisciplinary_text, class: :interdisciplinary unless @project.not_interdisciplinary? %>

<div class="detailed_info comment">
  <%= project_theme @project, true %>
  <%= project_section @project, :category %>
  <%= project_section @project, :sbi_placing %>
  <%= project_section @project, :goal %>
  <%= project_section @project, :main_goals %>
  <%= project_section @project, :stakeholders %>
  <%= project_section @project, :funds_required %>
  <%= project_section @project, :funds_sources %>
  <%= project_section @project, :novelty %>
  <%= project_section @project, :expected_results %>
  <%= project_section @project, :forecast %>
  <%= project_section @project, :target_audience %>
</div>

<% content_for :additional_info do %>
  <% if current_user.present? %>
    <%  participant = @project.participants.active.where(student_id: current_user.try(:contingent_id).to_i).first %>
    <% if participant.present?%>
      <div style="clear: both">
        <%= render :partial => 'project_issue', :locals => {participant: participant} %>
      </div>
    <% end %>
  <% end %>
<% end %>
