<% title "Новый пароль", :user %>

<%= simple_form_for :user, :url => { :action => 'update_after_forgetting' } do | form | %>
  <p>Введите новый пароль.</p>
  <%= form.input :password %>
  <%= form.input :password_confirmation %>
  <%= form.input :reset_code, :as => :hidden, :input_html => { :value => params[:reset_code] } %>
  <%= form.submit I18n.t("save") %>
<% end %>
