<% title "Новый пароль", :user %>

<% form_for(:user, :url => { :action => 'update_after_forgetting' }) do |f| %>
  <%= f.error_messages %>

  <p>Введите новый пароль.</p>

    <%= f.password_field :password %>

    <%= f.password_field :password_confirmation %>

  <p>
    <%= hidden_field_tag :reset_code, params[:reset_code] %>
    <%= f.submit "Сохранить" %>
  </p>
<% end %>

