<% title "Этап", :stage %>

<% content_for :hint do %>
  <h3>Просмотр этапа</h3>
  <p>На странице представлена информация об этапе календарного плана проекта.</p>
<% end %>


<% action_link(link_to(l(:edit), edit_chair_project_stage_path(@project.chair,@project,@stage)), 'edit', "Позволяет изменить информацию об этапе") if permitted_to?(:update, @project) %>
<% action_link(link_to_delete(chair_project_stage_url(@project.chair, @project, @stage)), 'destroy', "Позволяет удалить этап") if permitted_to?(:update, @project) %>

<h2><%= h(@stage.title) %></h2>
<p>с <%= date(@stage.start) %> по <%= date(@stage.finish) %></p>

<h3><%= l(:stage, :funds_required) %></h3>
<p><%=h @stage.funds_required %></p>

<h3><%= l(:stage, :activity) %></h3>
<p><%=h @stage.activity %></p>

<h3><%= l(:stage, :results) %></h3>
<p><%=h @stage.results %></p>
