<div id="project_<%= project.id %>" class="project object">
  <%= icon(:project) %>
  <h3><%= link_to "#{project.cipher} #{project.title}", manage_chair_project_path(@chair, project) %></h3>
  <div class="theme">
    <%= project_theme(project) %>
  </div>
  <%= content_tag :div, project.sbi_placing_text, class: 'sbi_placing' if project.sbi_placing_resident? %>
  <div>
    <%= project_executives_status(project) %>
  </div>
  <div>
    <%= project_stages_status(project) %>
  </div>
  <%= content_tag :div, project.interdisciplinary_text, class: :interdisciplinary unless project.not_interdisciplinary? %>
  <div class="status">
    <span class="state_<%= project.state %>"><%= project.human_state_name %></span>
    <span class="editable_state_<%= project.editable_state %>"><%= project.human_editable_state_name %></span>
    <span class="date"><%= project_updated(project) %></span>
    <%= "#{Project.human_attribute_name(:close_reason)}: #{project.close_reason}" if project.closed? %>
  </div>
  <div class="details"><%= project_project_managers(project) %></div>

  <% if project.closed_on? && project.result? %>
    <div class="details">
      Закрыт: <%= l project.closed_on %>, результат выполнения проекта: <%= project.result_text %>
    </div>
  <% end %>
</div>
