<% title "Проект #{@project.cipher}", :project %>

<% content_for :hint do %>
  <h3>Просмотр проекта</h3>
  <p>На странице представлена тематическая карточка проекта, а также состояние проекта и дата последнего изменения.</p>
<% end %>

<%= render :partial => "manage/reports/report_action_link", :collection => Report::REPORTS[:project], :as => :report, :locals => {:type => "project", :id => @project.id}  %>
<% action_link(link_to(I18n.t("edit"), edit_manage_chair_project_path(@chair,@project)), "edit", "Позволяет изменить основную информацию о проекте") if @project.editable? && can?(:update, @project) %>
<% action_link(link_to_delete(manage_chair_project_path(@chair, @project)), "destroy", "Позволяет удалить проект") if @project.destroyable? && can?(:destroy, @project) %>
<% action_link(link_to(Project.human_state_event_name(:close), to_close_manage_chair_project_path(@chair,@project)), "сlose", "Позволяет убрать проект в архив") if @project.state_events.include?(:close) && can?(:close, @project) %>
<% action_link(reopen_project_button(@project), "reopen", "Возобновляет проект") if @project.state_events.include?(:reopen) && can?(:reopen, @project) %>

<% content_for :right do %>
  <h3>Руководители проекта</h3>
  <ul id="project_project_managers">
    <% @project.users.each do |user| %>
      <li><span class="name"><%= user.name %></span><span class="post"><%= user.post %></span></li>
    <% end %>
  </ul>

  <div id="stats">
    <h3>Статистика проекта</h3>
    <%= render_table_stats @project.stats %>
  </div>
<% end %>

<% unless @project.orders.blocking.empty? %>
  <h2>Ожидаемые приказы <span>данный проект проходит по следующим приказам, которые ещё не уверждены</span></h2>
  <%= render_list "manage/orders/order", @project.orders.blocking, :id => "awaiting-orders" %>
<% end %>

<h2><%= @project.title %></h2>
<div class="project">
  <div class="status">
    <span class="editable_state_<%= @project.editable_state %>"><%= @project.human_editable_state_name %></span>
    <span class="state_<%= @project.state %>"><%= @project.human_state_name %></span>
    <span class="date"><%= project_updated(@project) %></span>
  </div>
</div>

<div class="detailed_info comment">
  <%= project_theme @project, true %>
  <%= project_section @project, :goal, true %>
  <%= project_section @project, :stakeholders, true %>
  <%= project_section @project, :funds_required, true %>
  <%= project_section @project, :funds_sources, true %>
  <%= project_section @project, :purpose, true %>
  <%= project_section @project, :features, true %>
  <%= project_section @project, :analysis, true %>
  <%= project_section @project, :novelty, true %>
  <%= project_section @project, :expected_results, true %>
  <%= project_section @project, :release_cost, true %>
  <%= project_section @project, :forecast, true %>
  <%= project_section @project, :source_data, true %>
</div>

