<% title "Индивидуальные задачи", :issues %>

<% content_for :hint do %>
  <p>На этой странице вы можете просмотреть запланированные индивидуальные задачи для участников проектной группы.</p>
  <p>Фактические баллы за выполнение заданий автоматически будут попадать в сумму баллов в журнале аттестации на контрольных точках.</p>
  <p>Суммарное количество баллов для участника не должно превышать 30 баллов.</p>
  <% if permitted_to?(:update, @project) %>
    <p>Чтобы добавить задачу участнику перейдите по ссылке "Добавить задачу" для соответствющего участника.</p>
    <p>Чтобы изменить задачу или проставить показатели выполнения перейдите по ссылке "Редактировать" для соответствующей задачи.
      Чтобы удалить задачу перейдите по соответствующей ссылке "Удалить".</p>
    <p>
  <% end %>
<% end %>

<% @project.participants.active.each_with_index do |participant, index| %>
  <div id="participant_<%= index+1 %>" class="issues">
    <h2><%= participant.name %></h2>
    <div class="header">
      <%= link_to 'Экспорт в XLS', export_manage_chair_project_participant_issues_path(@chair, @project, participant), :class => "export" %>
      <%= link_to t("add"), new_manage_chair_project_participant_issue_path(@chair, @project, participant), :class => "add" if permitted_to?(:update, @project) %>
      <h3 class="planned_summ_grade"><%= Issue.human_attribute_name :planned_summ_grade %>:&nbsp;<%= participant.issues_planned_summ_grade %></h3>
      <h3 class="fact_summ_grade"><%= Issue.human_attribute_name :fact_summ_grade %>:&nbsp;<%= participant.issues_fact_summ_grade %></h3>
    </div>
    <% unless participant.issues.empty? %>
      <table>
        <tr>
          <th class="name"><%= Issue.human_attribute_name :name %></th>
          <th class="description"><%= Issue.human_attribute_name :description %></th>
          <th class="planned_closing_at">
            <abbr title="<%= Issue.human_attribute_name :planned_closing_at %>">
              <%= Issue.human_attribute_name :abbr_planned_closing_at %>
            </abbr>
          </th>
          <th class="planned_grade">
            <abbr title="<%= Issue.human_attribute_name :planned_grade %>">
              <%= Issue.human_attribute_name :abbr_planned_grade %>
            </abbr>
          </th>
          <th class="closed_at">
            <abbr title="<%= Issue.human_attribute_name :closed_at %>">
              <%= Issue.human_attribute_name :abbr_closed_at %>
            </abbr>
          </th>
          <th class="grade">
            <abbr title="<%= Issue.human_attribute_name :grade %>">
              <%= Issue.human_attribute_name :abbr_grade %>
            </abbr>
          </th>
          <th class="results"><%= Issue.human_attribute_name :results %></th>
        </tr>
        <% participant.issues.each do |issue| %>
          <tr>
            <td class="name">
              <p><%= issue.name %></p>
              <div class="actions">
                <%= link_to t("edit"), edit_manage_chair_project_participant_issue_path(@chair, @project, participant, issue), :title => I18n.t("edit"), :class => "edit" if permitted_to?(:update, @project) %>
                <%= link_to t("delete"), manage_chair_project_participant_issue_path(@chair, @project, participant, issue), :method => :delete, :confirm => "Вы уверены что хотите удалить индивидуальную задачу участника?", :title => I18n.t("delete"), :class => "destroy" if permitted_to?(:update, @project) %>
              </div>
            </td>
            <td class="description"><%= issue.description %></td>
            <td class="planned_closing_at"><%= date(issue.planned_closing_at) %></td>
            <td class="planned_grade"><%= issue.planned_grade %></td>
            <td class="closed_at"><%= date(issue.closed_at) %></td>
            <td class="grade"><%= issue.grade %></td>
            <td class="results"><%= issue.results %></td>
          </tr>
        <% end %>
      </table>
    <% else %>
      <p>Нет запланированных задач</p>
    <% end %>
  </div>
<% end %>
