<div class="rule object">
  <%= icon(:rule) %>
  <h3><%= h(rule.user.name) %></h3>
  <div class="status">
    <span class="date">Создано: <%= time_ago rule %></span>
  </div>
  <div class="details"><%= h(rule.role_with_context) %></div>
</div>
<div class="actions">
  <%= link_to l(:edit), edit_rule_url(rule) if permitted_to?(:update, rule) %>
  <%= link_to_delete rule_url(rule) if permitted_to?(:delete, rule) %>
</div>
