<%= content_for :base_title do %>
  <%= yield(:title) %>
<% end %>

<%= content_for :base_content do %>
  <div id="wrapper" class="top-level">
    <div id="navigation">
      <%= render :partial => "shared/#{submenu}" %>
    </div>

    <div id="content">
      <%= render :partial => 'shared/help' %>

      <div id="page-header">
        <div id="tray"></div>
        <div id="page-title">
          <h1><%= yield(:page_title) %></h1>
        </div>
      </div>
      <%= render :partial => "shared/#{include_container}" %>
    </div>
  </div>
<% end %>

<%= render :template => 'layouts/base' %>
