<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title><%= yield(:base_title).squish %></title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag %>
    <%= render :partial => 'shared/css_and_js' %>
  </head>
  <body>
    <div id="header">
      <div id="header-wrapper">
        <%= render :partial => "shared/header" %>
      </div>
    </div>

    <%= yield(:base_content) %>

    <div id="footer">
      <%= render :partial => 'shared/footer' %>
    </div>
  </body>
</html>
