<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= "Кафедра #{@chair.abbr}" %> &#x2014; <%= yield(:title) %></title>
  <%= csrf_meta_tags %>
  <%= render :partial => 'shared/css_and_js' %>
</head>
<body>
  <div id="header">
    <div id="header-wrapper">
      <%= render :partial => "shared/header" %>
    </div>
  </div>

  <div id="wrapper" class="chair-level">
    <div id="navigation">
      <ul>
        <%= nav_link link_to(chair_abbr(@chair), manage_chair_path(@chair)), 'chairs', :action => 'show' %>
        <%= nav_link link_to("Проекты", manage_chair_projects_path(@chair)), 'projects' %>
        <%= nav_link link_to("Приказы", chair_orders_path(@chair)), 'orders' %>
        <%= nav_link link_to("Пользователи", manage_chair_users_path(@chair)), 'users' %>
        <%= nav_link link_to("Руководители", managers_chair_path(@chair)), 'chairs', :action => 'managers' %>
        <%= nav_link link_to("Посещаемость", chair_visitations_path(@chair)), 'visitations' %>
      </ul>
    </div>

    <div id="content">
      <%= render :partial => 'shared/help' %>

      <div id="page-header">
        <div id="tray"></div>
        <div id="page-title">
          <h1>
            <%= yield(:page_title) %>
            <% if yield(:inline_navigation) %>
              <span id="inline-navigation"><%= yield :inline_navigation %></span>
            <% end%>
          </h1>
        </div>
      </div>
      <%= render :partial => "shared/#{include_container}" %>
    </div>

    <div id="footer">
      <%= render :partial => 'shared/footer' %>
    </div>
  </div>

</body>
</html>

