<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Приказ <%= order_title(@order) %> &#x2014; <%= yield(:title) %></title>
  <%= render :partial => 'shared/css_and_js' %>
</head>
<body>
  <div id="header">
    <div id="header-wrapper">
      <%= render :partial => "shared/header" %>
    </div>
  </div>

  <div id="wrapper" class="order-level">
    <div id="navigation">
      <ul>
        <%= nav_link link_to(chair_abbr(@order.chair), chair_url(@order.chair)), 'chairs', :action => 'show', :selected => false if permitted_to?(:read, @order.chair) %>
        <%= nav_link link_to("Проекты", chair_projects_url(@order.chair)), 'projects', :selected => false if permitted_to?(:read, @order.chair) %>
        <%= nav_link link_to("Приказы", chair_orders_url(@order.chair)), 'orders', :selected => true if permitted_to?(:read, @order.chair) %>
        <%= nav_link link_to("Пользователи", chair_users_url(@order.chair)), 'users', :selected => false if permitted_to?(:chair_manage, @order.chair) %>
        <%= nav_link link_to("Руководители", managers_chair_url(@order.chair)), 'chairs', :action => 'managers', :selected => false if permitted_to?(:read, @order.chair) %>
        <%= nav_link link_to("Журнал посещаемости", chair_visitations_url(@order.chair)), 'visitations', :selected => false if permitted_to?(:read, @order.chair) %>
      </ul>
    </div>

    <div id="content">
      <%= render :partial => 'shared/help' %>

      <div id="page-header">
        <div id="tray"></div>
        <div id="page-title">
          <h1>
            <%= iconed_title(@order.approved? ? "Приказ №#{@order.number} от #{@order.approved_at}" : "Приказ", :order) %>
            <span class="subtitle"><%= @order.title %></span>
          </h1>
        </div>
      </div>
      <%= render :partial => 'shared/container_two_column' %>
    </div>

    <div id="footer">
      <%= render :partial => 'shared/footer' %>
    </div>
  </div>
</body>
</html>

